body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
img {
  height: 20%;
  width: 30%;
}

.git {
  width: 30px;
  height: 30px;
}

.card-img-top {
  max-width: 100px;
  max-height: 100px;
}

.center {
  text-align: center;
}

.selector {
  width: 35px !important;
}
